* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}



header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 97%;
  margin-left: 20px;
  height: 10vh;
  background: linear-gradient(to right, lightgray , gray , darkgray );
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo img {
  height: 100%;
  width: 100px;
}

header .logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  
}

header nav {
  display: flex;
  align-items: center;
  gap: 8px;
  
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  transition: 0.3s linear;
  margin: 0 20px 0;
}

header nav a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  width: 0%;
  transition: 0.3s linear;
}

header nav a:hover::after {
  width: 100%;
  transition: 0.3s linear;
}

header .extra-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

header .extra-nav button {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 12px;
  transition: 0.3s linear;
}

header .extra-nav button:nth-child(1) {
  background: #fff;
  color: #000;
}

header .extra-nav button:hover {
  background: #fff;
  color: #000;
  transition: 0.3s linear;
}

header .hamburger-menu {
  cursor: pointer;
  display: none;
}

header .mobile-nav {
  display: none;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
}

section:nth-child(odd) {
  background-color: gray;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin-top: 100px;
  color: gray;
}

.card h1{
  color: gray;
  font-size: 70%;

}


label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="date"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#currentAge {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

@keyframes stroke {
  0% {
      stroke: white;
      stroke-width: 0;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
  }
  70% {
      stroke: white;
  }
  80% {
      stroke: white;
      stroke-width: 3;
  }
  100% {
      stroke: white;
      stroke-width: 0;
      stroke-dashoffset: -25%;
      stroke-dasharray:50% 0;
  }
}

@media screen and (max-width: 978px) {
  .anggota{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card {
    max-width: 700px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 1024px) {
  header nav,
  header .extra-nav {
    display: none;
  }

  header .hamburger-menu {
    display: block;
  }

  header .mobile-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    height: 100vh;
    background-color: #000;
    z-index: 999;
    transition: all 0.2s linear;
  }

  header .mobile-nav.show {
    transform: translateY(0);
    transition: all 0.2s linear;
  }

  header .mobile-nav .close {
    position: absolute;
    top: 24px;
    right: 16px;
    display: flex;
    justify-content: end;
    width: 100%;
  }

  header .mobile-nav .close svg {
    cursor: pointer;
    width: 35px;
    height: 35px;
  }

  header .mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  header .mobile-nav ul li {
    cursor: pointer;
    position: relative;
    list-style: none;
    width: 25%;
  }

  header .mobile-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 36px;
    transition: 0.3s linear;
  }

  header .mobile-nav ul li .nav-link::after {
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
    width: 0%;
    transition: 0.3s linear;
  }

  header .mobile-nav ul li:hover .nav-link::after {
    width: 100%;
    transition: 0.3s linear;
  }
}

@media screen and (max-width: 768px) {
  header .mobile-nav ul li {
    width: 35%;
  }
}

@media screen and (max-width: 450px) {
  header .mobile-nav ul li {
    width: 50%;
  }
  .flip-card{
    width: 10px;}
}
